<!-- <app-greetings></app-greetings>
<app-category-list></app-category-list> -->

<!-- <div class="container">
  <h1>YouTube Video Catalog</h1>

  <app-category-list (categorySelected)="onCategorySelected($event)"></app-category-list>

  <div *ngIf="selectedCategory">
    <h2>Videos in {{ selectedCategory.name }}</h2>
    <app-video-list [videos]="selectedCategory.videos" (videoSelected)="onVideoSelected($event)"></app-video-list>
  </div>

  <app-video-player *ngIf="selectedVideo" [videoId]="selectedVideo.id"></app-video-player>
</div> -->

<!-- <header>I am Header</header>
<router-outlet></router-outlet>
<footer>I am Footer</footer> -->

<header>
  <app-header></app-header>
</header>
<router-outlet></router-outlet>