
<div class="container">
    <div class="video-layout">
        <div [ngClass]="{ 'video-list-container': !isVideoSelected, 'video-list-container-collapsed': isVideoSelected }" >
            <!-- <p>Videos in {{ categoryName }}</p>     -->
            <div class="input-container">
                <mat-form-field appearance="outline">
                    <mat-label>Search Videos</mat-label>
                    <input 
                        matInput 
                        type="text" 
                        placeholder="Enter Video Title" 
                        autocomplete="off" 
                        [(ngModel)]="searchTerm" 
                    >
                </mat-form-field>
            </div>
            <div class="videos-grid" >    
                <div *ngIf="isLoading" class="loading-box">
                    <p>Loading...</p>
                </div>        
                <div *ngIf="!isLoading && filteredVideos().length === 0" class="no-data-box">
                    <p>No Data Found.</p>
                </div>
                <div *ngFor="let video of filteredVideos()" class="video-card" >
                    <!-- (click)="onSelectVideo(video)" -->
                    
                    <div class="video-card-content">
                        <img (click)="onSelectVideo(video)" [src]="video.thumbnailUrl" alt="Video Thumbnail">
                        <div class="video-card-desc">
                            <!-- <div class="video-card-desc-title">
                                <p>{{ video.title }}</p>
                            </div> -->
                            <div class="video-card-desc-title" matTooltip="{{ video.title }}" matTooltipPosition="below" matTooltipTouchGestures="on">
                                <p>{{ video.title }}</p>
                            </div>   
                            
                            <div class="video-card-desc-actions">
                                <p style="color: grey; font-weight: bold; font-size: 18px;" [matMenuTriggerFor]="menu">⋮</p>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="editVideo(video)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                    <button mat-menu-item (click)="deleteVideo(video)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Delete</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                    <!-- <p>{{ video.description }}</p> -->
                </div>
            </div>
        </div>

        <div 
            [ngClass]="{ 'video-player-container-hidden': !isVideoSelected, 'video-player-container': isVideoSelected }"
        >
            <router-outlet></router-outlet>
        </div>
    </div>
</div>