.input-container {
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-form-field {
    width: 550px;
}


.video-layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.video-list-container {
    width: 100%;
    /* overflow-y: auto; */
    padding: 70px 20px 20px 20px;
    background-color: #f9f9f9;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.video-list-container-collapsed {
    width: 250px;
    /* overflow-y: auto; */
    padding: 70px 20px 20px 20px;
    background-color: #f9f9f9;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.video-list-container p {
    color: #000;
    font-size: x-large;
}

.videos-grid {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    max-height: calc(85vh - 70px); 
    overflow-y: auto; 
    width: 100%;
    justify-content: center;
    padding: 10px 0px;
}

.videos-grid::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    height: 6px;
}

.videos-grid::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

.videos-grid::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #add8e6, #87cefa); /* Light blue gradient */
    border-radius: 10px; /* Rounded corners */
}

.videos-grid::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #87cefa, #4682b4); /* Darker blue on hover */
}

.video-card {
    border: 1px solid #e1e1e1;
    width: 350px;
    cursor: pointer;
    transition: transform 0.2s;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.video-card:hover {
    /* transform: translateY(-5px); */
}


.video-card-content {
    display: flex;
    flex-direction: column;
    height: 100%; /* Take full height of the card */
}


.video-card img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}


.video-card p {
    font-size: 14px;
    color: #666;
    margin: 0;
    flex-grow: 1;
}

.video-card-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Ensures the action buttons stay at the bottom */
    flex-grow: 1;
    padding: 5px;
    align-items: center;
}

.video-card-desc-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 40px; /* Adjust as needed */
    padding-bottom: 10px;
}

.video-card-desc-title p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.action-icon {
    color: black; 
    font-weight: bold; 
    font-size: 18px;
}

.video-player-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    overflow: hidden;
    padding: 70px 10px 70px 10px;
}

.no-data-box {
    background-color: #f8d7da; /* Light red background */
    border: 1px solid #f5c6cb; /* Border color matching background */
    padding: 10px;
    border-radius: 5px; /* Optional: for rounded corners */
    text-align: center; /* Center text inside the box */
    margin-bottom: 20px; /* Space below the message */
    width: 65%;
    height: 25px;
}

.no-data-box p {
    font-weight: 500;
    font-size: 16px;
    color: #721c24 !important; /* Dark red text */
}


.mat-menu-item {
    display: flex;
    align-items: center;
}

.mat-menu-item mat-icon {
    margin-right: 8px; /* Space between icon and text */
}

.video-player-container-hidden {
    display: none;
}



@media (max-width: 576px) {


    .input-container {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .video-list-container {
        width: 92%;
        background-color: #f9f9f9;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        padding-top: 0px !important;
    }

    .video-card img {
        width: 40%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }

    .videos-grid {
        gap: 0;
    }

    .video-list-container-collapsed {
        padding-top: 10px !important;
        padding-bottom: 120px !important;
        height: fit-content;
        width: 92%;
        overflow-y: auto;
        background-color: #f9f9f9;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .video-card {
        border: 1px solid #e1e1e1;
        width: 100%;
        cursor: pointer;
        transition: transform 0.2s;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    .video-layout {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0px;
        overflow: hidden;
        position: fixed;
        justify-content: start;
        align-items: center;
        width: 100%;
    }

    .video-card-content {
        display: flex;
        flex-direction: row;
    }

    .video-player-container {
        position: static;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
